.nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 30px;
  background-image: linear-gradient(
    0deg,
    transparent,
    rgba(37, 37, 37, 0.1),
    rgb(48, 48, 48)
  );
  transition: all 0.5s;
  transition-timing-function: ease-in;
}

.nav_black {
  background-color: rgb(0, 0, 0);
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
}

.nav_avatar {
  cursor: pointer;
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
